*{

}
.navContainer{
  width: 100%;
  padding:2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: palevioletred;
}

.aLink{
  color:white;
  font-weight: 400;
  text-decoration: none;
}
.aLogo{
  color:wheat;
  font-weight: 900;
  text-decoration: peachpuff;
  width: 8rem;
}
.cartWidgetContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartIcon{
  width:4rem;
}

.cartCounter{
  color:blueviolet;
  font-size: 1rem;
  font-weight: 500;
}